body {
    background-color: #9DA5A6;
}

h2 {
    margin-top: 10px;
}

main > section > article {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #E7E7E7;
}

.feedScroller {
    max-height: 200px;
    overflow: auto;
    text-transform: capitalize;
    padding: 0;
}

.feedScroller > li {
    padding: 5px;
    width: 100%;
}

.feedScroller li.emptyFeed {
    text-transform: none;
}


/* Notify override */

[data-notify="title"] > strong > span {
    text-transform: capitalize;
}


/* Battery icon, thanks to: http://codepen.io/ianaya89/pen/oazyI */

#batBody {
    float: left;
    width: 135px;
    height: 25px;
    border: 3px #111 solid;
    border-radius: 8px;
}

.batEnd {
    float: left;
    width: 15px;
}

.batEnd div {
    width: 5px;
    height: 13px;
    margin-top: 7px;
    margin-left: 1px;
    background-color: #111;
    border-radius: 0px 30px 30px 0px;
}

#indicator {
    height: 66%;
    width: 50%;
    margin: 3px 0 3px 2px;
    border-radius: 4px;
}

#indicator.charging {
    background-color: #4EC259;
}

#indicator.notCharging {
    background-color: #FFFF91;
}